<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>1RA_EVA_4_OUTLETS.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>A2BD22CD1E44F79900763B1D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A2BD22E11E44F79900763B1D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A2BD22EC1E44F79900763B1D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
